
* {
    font-family: "monospace";
    font-size: 12px;
    color: #ffffff;
    background: #1e1e2e;
}

#clock, #cpu, #memory, #battery {
    padding: 0 10px;
}

#sway-window {
    font-weight: bold;
    color: #a9b1d6;
}

